<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Reset your password</title>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #888;
        }
    </style>
</head>

<body>
    <div style='background:#fff; padding:20px;'>
        <table width='500' border='0' cellspacing='0' cellpadding='0' align='center' style='font-family:calibri; font-size:16px;line-height:24px; border:2px solid #40c1c5; padding:20px;'>
            <tr>
                <td>
                    <table width='500' border='0' cellspacing='0' cellpadding='0' align='center'>
                        <tbody>
                            <tr>
                                <td></td>
                                <td style='text-align:center; padding:20px;'><img src='https://s3-us-west-2.amazonaws.com/lf-staging-ca-assets/CALogo/ca_logo.png' alt='Capital Alliance Logo'
                                    /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style='padding-top:10px;'>
                    <p style='margin:0; margin-bottom:10px;'>Hi&nbsp;&nbsp;{{Name}},</p>
                    <p style='margin:0; margin-bottom:20px;'><br>A request to reset your Capital Alliance password was made. The link below will assist you in resetting
                        your password.</p><a href='{{LoginUrl}}/{{ResetToken}}/{{Username}}' style='background:#40c1c5; color:#fff; display:table; font-size:16px; margin:10px auto; padding: 7px 4px; text-align: center; text-decoration: none;'>Reset your password</a>
                    <p style='margine:0; margin-bottom:20px;'><br>Feel free to reach out to us at our toll free number 855-329-9922 for any queries or information.</p>
                    <p style='margin:0; margin-bottom:20px;'>Regards,<br>Team Capital Alliance</p>
                </td>
            </tr>
            <tr>
                <td style='border-top:1px solid #ccc;'>
                    <p>Capital Alliance reserves all the right to cancel, suspend, and/or modify the offer for any reason, including
                        for fraud, technical limitations, and failures, or causes that impact the integrity of the offer.</p>
                </td>
            </tr>
            <tr style=' text-align:center;'>
                <td><span style='color:#b9b9b9; font-size:14px;'>This email was sent by Capital Alliance</span></td>
            </tr>
        </table>
    </div>
</body>

</html>