<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
<HEAD>
	<META HTTP-EQUIV='CONTENT-TYPE' CONTENT='text/html; charset=utf-8'>
	
	  <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
		table,tr {
    border: 1px solid;
}
.test td{
border: 1px solid;
padding: 5px;
}
	  </style>
</HEAD>
<BODY LANG='en-US' DIR='LTR'>
<P ALIGN=CENTER STYLE='margin-bottom: 0.14in'>Pay-off Letter</P>
<P STYLE='margin-bottom: 0.14in'><BR><BR>
</P>
<P>Date:{{todayDate}}</P>
<P>Business Name :<FONT>{{businessName}}</FONT></P>
<P STYLE='margin-bottom: 0.14in'>Subject: Pay-off, Loan Number # {{loanNumber}}</P>
<P STYLE='margin-bottom: 0.14in'>Dear <FONT >{{name}}</FONT>,</P>
<P STYLE='margin-bottom: 0.14in'>This letter is meant to inform you
that as of {{payOffDate}},the
following is the pay-off schedule. 
</P>
<tr>	
			<td>
			<table class='test'>
				<thead>                
				<tr>
                        <td><b>Pay-Off Date</b></td>
						<td><b>Total to be paid</b></td>
						<td><b>Prinicipal</b></td>
						<td><b>Interest</b></td>
						<td><b>Additional Interest</b></td>
                </tr>
				</thead>
				<tbody>
				{{#each payoffSchedule}}
                <tr>
				     <td>{{PayOffDate}}</td>
                        <td>{{TotalAmount}}</td>
                        <td>{{Principal}}</td>
                        <td>{{Interest}}</td>
						<td>{{AdditionalInterest}}</td>
                </tr>
                {{/each}}
				
				</tbody>
			</table>
			</td>
		</tr>
<P STYLE='margin-bottom: 0.14in'>Please note that this schedule is
assuming all scheduled payments shall be paid. 
</P><P><BR>
<P>Kind Regards,</P>
<P>{{name}}</P>
<P>{{designation}}</P>
<P>{{email}}</P>
<P><BR><BR>
</P>
<P><BR><BR>
</P>
</BODY>
</HTML>