<!doctype html>
<html>

<head>
	<meta charset='utf-8'>
	<title>Capital Alliance</title>
</head>

<body>
	<div style='margin:0px auto; padding:0px; width:650px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
		<div style='width:600px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 10px 25px; float:left;'>
			<div style='text-align:center; margin:10px 0px 20px 0px;'>
				<a href='#'>
							<img src='https://s3-us-west-2.amazonaws.com/lf-staging-ca-assets/CALogo/ca_logo.png'alt='Capital Alliance'border='0'/>
						</a>
				<div style='margin:0px 0px 20px 10px; float:left; width:100%;'>
					<p>Dear &#160;<span style=' color:#0090ff;'> {{contactName}}</span>,</p>
					<p>Thank you for creating an account with Capital Alliance!</p>
					<p>Below you will find your user name to log into your portal. You have now completed the application process.</p>
					<p>Your user name is: {{email}}</p>
					<p>We have Funding Specialists standing by Monday - Friday 7am - 4pm PST for any questions you may have.</p>
					<p>We look forward to helping your business grow.</p>
					<ul/>
					<p style='width:100%; float:left; margin:0px 0px 0px 0px;'>Best Regards,</p>
					</br>
					<p style='width:100%; float:left; margin:15px 0px 0px 0px;'>The Capital Alliance Team</p>
				</div>
			</div>
		</div>
</body>

</html>