<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\">
<HTML>
<HEAD>
	<META HTTP-EQUIV=\"CONTENT-TYPE\" CONTENT=\"text/html; charset=utf-8\">
	<TITLE></TITLE>	
	  <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
		table,tr {
    border: 1px solid;
}
.test td{
border: 1px solid;
padding: 5px;
}
	  </style>
</HEAD>
<BODY LANG=\"en-US\" DIR=\"LTR\">
<P ALIGN=CENTER STYLE=\"margin-bottom: 0.14in\">Modified Schedule
Letter</P>
<P STYLE=\"margin-bottom: 0.14in\"><BR><BR>
</P>
<P>Date:{{todayDate}}</P>
<P>Business Name :<FONT>{{businessName}}</FONT></P>
<P>Subject: Schedule Modified, Loan
Number <FONT># {{loanNumber}}</FONT></P>
<P STYLE=\"margin-bottom: 0.14in\">Dear <FONT >{{name}}</FONT>,</P>
<P STYLE=\"margin-bottom: 0.14in\">Please accept this letter as
confirmation for the schedule that has been modified effective
<FONT>{{scheduleDate}}</FONT>. By this
letter, we mutually agree to the following modifications to the
terms. These revised terms are only valid while our agreement is in
good standing, and all other terms and conditions are satisfied. 
</P>
<P>Reason: {{reason}}</P>
<P>Current Balance:{{currentBalance}}</P>	
<P>New Draw Amount:{{newDrawDownAmount}}</P>
<P>Total Balance Due:{{totalBalanceDue}}</P>
<P>New Payment Schedule:{{totalBalanceDue}}</P>
<p>Loan Schedule Details</p>
<tr>	
			<td>
			<table class='test'>
				<thead>                
				<tr>
                        <td><b>Schedule Date</b></td>
						<td><b>Schedule Amount</b></td>
						<td><b>Prinicipal</b></td>
						<td><b>Interest</b></td>
                </tr>
				</thead>
				<tbody>
				{{#each scheduleList}}
                <tr>
				     <td>{{ScheduleDate}}</td>
                        <td>{{PaymentAmount}}</td>
                        <td>{{PrincipalAmount}}</td>
                        <td>{{InterestAmount}}</td>
						
                </tr>
                {{/each}}
				
				</tbody>
			</table>
			</td>
		</tr>

<P STYLE=\"margin-bottom: 0.14in\">Please keep in mind that all
transactions shall be done via the linked bank account that we have
for this agreement. Any change in the same, you should contact us!</P>
<P><BR>
</P>
<P>Kind Regards,</P>
<P>{{name}}</P>
<P>{{designation}}</P>
<P>{{email}}</P>
<P><BR><BR>
</P>
</BODY>
</HTML>