<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
<HEAD>
	
	<TITLE></TITLE>
	  <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
		table,tr {
    border: 1px solid;
}
.test td{
border: 1px solid;
padding: 5px;
}
	  </style>
</HEAD>
<BODY LANG='en-US' DIR='LTR'>
<P ALIGN=CENTER STYLE='margin-bottom: 0.14in'>Closure Letter</P>
<P STYLE='margin-bottom: 0.14in'><BR><BR>
</P>
<P>Date: {{todayDate}}</P>
<P>Business Name :<FONT>{{businessName}}</FONT></P>
<P>Subject: Closure, Loan Number <FONT># {{loanNumber}}</FONT></P>
<P>Dear <FONT>{{name}}</FONT>,</P>
<P>Please accept this letter as
confirmation for the loan that has been closed-off as of today
<FONT>{{todayDate}}</FONT>. 
</P>
<P STYLE='margin-bottom: 0.14in'>The balance for <FONT >{{businessName}}</FONT> is as follows:</P>
<P STYLE='margin-bottom: 0.14in'>Total Balance Due: {{loanDue}}</P><br>

<P STYLE='margin-bottom: 0.14in'>Kind Regards,</P>
<P>{{name}}</P>
<P>{{designation}}</P>
<P>{{email}}</P>
<P STYLE='margin-bottom: 0.14in'><BR><BR>
</P>
</BODY>
</HTML>