<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Capital Alliance</title>
</head>

<body>
    <div style='margin:0px auto; padding:0px; width:750px; background:#fff; color:#6c6c71; font-size:16px; font-family:Arial, sans-serif;'>
        <div style='width:720px; background:#fff; border:solid 10px #bcbcbf; padding:25px 25px 0px 25px; float:left;'>
            <div style='text-align:center; margin:10px 0px 20px 0px;'><a href='#'><img src='https://s3-us-west-2.amazonaws.com/lf-staging-ca-assets/CALogo/ca_logo.png'alt='Capital Alliance'border='0'/></a></div>
            <div style='margin:0px 0px 10px 10px; float:left; width:100%;'>
                <p>Hi <span style=' color:#0090ff;'><strong>{{contactName}}</strong></span>,</p>
                <p>It is my great pleasure to welcome you to the Capital Alliance family!</p>
                <p>We are invested in this business relationship and are thrilled to have you with us.</p>
                <p>Our valued partner played a big part in facilitating your loan through Capital Alliance. At this point, we
                    will serve as your main point of contact regarding your loan. Our goal is to surpass your expectations
                    by providing top notch service on this and all future loans.</p>
                <p>We are happy to be providing ongoing-customer service to you. I will be your own personal point of contact,
                    so please feel free to reach out to me:</p>
                <ul>
                    <li>Phone: 949-629-3678 </li>
                    <li>Email: jpineda@capitalalliance.com </li>
                    <li>Fax: 949-629-3678 </li>
                </ul>
                <p><span style=' color:#0090ff;'><strong>{{contactName}}</strong></span>, it is my goal to provide you with above and
                    beyond quality service, as a part of that I will be reaching out to you periodically with updates on
                    your account. Please enjoy this little gift as a reminder that you have a lending partner that you can
                    count on.</p>
                <p style='margin-top:50px; margin-bottom:5px;'>Sincerely,</p>
                <p style='margin-top:0px;'>Jes Pineda </br>Relationship Manager</p>
                <div style='text-align:left; margin:20px 0px 40px 0px;'><img src='{{contactAddress}}' alt='Capital Alliance Address' border='0' /></div>
                <div style='text-align:left; margin:20px 0px 20px 0px; height:3px;width:100%; background:#ccc;'></div>
                <div style='text-align:left;'>
                    <span style='text-align:center; font-size:26px; color:#0090ff; width:100%; float:left; margin-bottom:20px;'>Frequently Asked Questions</span>
                    <span style='font-weight:bold; color:#424141;'>Is it ok for me to take a loan from a different company while I have a balance with Capital Alliance?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>The signed agreement forbids this situation. Since we based the loan and payment amount on your cash
                        flow, taking additional funding would be detrimental. Our hope is to be your financial partner by
                        providing you additional funding when you need it.</p>
                    <span style='font-weight:bold; color:#424141;'>Can I get future loans?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>Yes! Future loans are available to borrowers if payments on the existing loan are current, given there
                        are no detrimental changes to the borrower's credit profile.</p>
                    <span style='font-weight:bold; color:#424141;'>When would I be eligible for the next loan?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>Typically, customers are eligible for additional funds once they reach 2/3 paid on their current agreement,
                        but each situation is unique to each business.</p>
                    <span style='font-weight:bold; color:#424141;'>How can I find out my remaining balance?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>You can call anytime during regular business hours, Monday through Friday to receive the current balance
                        of your account, but we will also call you periodically to update you on the account status as well.</p>
                    <span style='font-weight:bold; color:#424141;'>What happens with the payment when there is a Bank holiday?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>There are no payments debited on Bank holidays normal debits resume the following business day.</p>
                    <span style='font-weight:bold; color:#424141;'>Who do I call if I have any other question about my account?</span>
                    <p style='margin-left:0px; font-size:14px; margin-top:5px;'>You can call your personal point of contact, CRS at 949-629-3678. We are open 7am - 4pm Pacific time,
                        to serve you.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>