<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
<HEAD>
	
	 <style>body{ margin:0;padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
		table,tr {
    border: 1px solid;
}
	  </style>
</HEAD>
<BODY LANG='en-US' DIR='LTR'>
<P ALIGN=CENTER STYLE='margin-bottom: 0.14in'>Paid-off Letter</P>
<P STYLE='margin-bottom: 0.14in'><BR><BR>
</P>
<P>Date: {{todayDate}}</P>
<P>Business Name :<FONT>{{businessName}}</FONT></P>
<P STYLE='margin-bottom: 0.14in'>Subject: Paid-off, Loan Number <FONT ># {{loanNumber}}</FONT></P>
<P>Dear <FONT>{{name}}</FONT>,</P>
<P STYLE='margin-bottom: 0.14in'>Please accept this letter as
confirmation for the amount <FONT>{{payoffAmount}}</FONT> that has been paid-off on <FONT>{{paiedoffDate}}</FONT>. The balance for <FONT>{{businessName}}</FONT> is as follows:</P>
<P STYLE='margin-bottom: 0.14in'>The loan doesn't have any outstanding balances</P>

<P STYLE='margin-bottom: 0.14in'><BR>
</P>
<P STYLE='margin-bottom: 0.14in'>Kind Regards,</P>
<P>{{name}}</P>
<P>{{designation}}</P>
<P>{{email}}</P>
<P STYLE='margin-bottom: 0.14in'><BR><BR>
</P>
</BODY>
</HTML>